<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random</title>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet">
</head>
<body>

<h1>Random Movies</h1>
<h3>Live Random ! Live Young ! Live free !</h3>
<h3>Cure your boredom !</h3>

<div class="button">
    <form action="/scrape">
        <button id="go" type="submit" onclick="changingFunction()">Here You Go !</button>
    </form>
</div>


<script src="../server.js"></script>

</body>
</html>