
<%include index.ejs%>
<div id="movie-container">

    <div id="title">
        Title : <%= title %>
    </div>
    <div id="release">
        Release Year : <%= year %>
    </div>
    <div id="rating">
        IMDB Rating : <%= rating %>
    </div>
</div>